@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #86c1a7;
  color: #212121;
  line-height: 1.5;
}

.search-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100%;
  background-color: rgb(225, 212, 167);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
.search {
  text-align: center;
}

.search-form {

  position: relative;
  // width: 30%;
  // height: 60%;
  // text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgb(225, 212, 167);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.search-form__input {
  height: 40px;
  font-size: 25px;
  padding: 7px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}

.search-form__btn {
  padding: 20px;
  background-position: 50%;
  border-radius: 0 5px 5px 0;
  border: none;
  background-image: url('../images/search1.svg');
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}



.gallery {
  padding-top: 80px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card__link {
  display: flex;
  justify-content: stretch;
  text-decoration: none;

  color: white;
}

.card__container {
  display: flex;
  flex-direction: column;

  background-color: #09a5a5;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card__img {
  display: block;
  width: calc((100vw - 90px) / 4);
  height: calc((100vw - 90px) / 4 / 1.5);

  object-fit: cover;

  border-radius: 10px 10px 0 0;
  transition: transfrom 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      transform: scale(1.01);
    }
}
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-btn {
  margin: 20px 0 20px;
  padding: 5px 15px 7px 15px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  background-color: rgb(238, 237, 196);
}

.is-hidden {
  display: none;
}

.load-btn > .spinner.is-hidden {
  display: none;
}




.display-mode-switch {
  position: absolute;
  right: 4%;
  width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.display-mode-switch__label {
  position: relative;

  width: 50px;
  height: 20px;
  
  

  cursor: pointer;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & p {
    display: block;
  }
}
.slider {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #86c1a7;
  transition: 0.4s;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  cursor: pointer;

  &:before {
    position: absolute;

    content: '';
    left: 4px;
    bottom: 4px;

    height: 10px;
    width: 10px;

    background-color: rgb(62, 87, 90);
    border-radius: 50%;
    transition: 0.4s;
  }

  .display-mode__input:checked + & {
    background-color: rgb(171, 192, 135);
  }

  .display-mode__input:focus + & {
    box-shadow: 0 0 1px hotpink;
  }

  .display-mode__input:checked + &:before {
    transform: translateX(25px);
  }
}
.display-mode-switch__option {
  font-size:   20px;
  color: rgb(92, 118, 160);
}

.display-mode-switch__option.infinite-scroll {
  font-size:   30px;
 
}

.card-actions {
  margin: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 4rem;

  width: 25px;
  height: 25px;

  background-color: rgb(244, 101, 101);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  border-radius: 50%;

  text-align: center;
  font-size: 20px;
  color: rgb(62, 87, 90);

  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    transform: scale(1.4);
  }
}
